In [68]:
import pandas as pd
from ecomplexity import ecomplexity
from ecomplexity import proximity

In [69]:
# Get dataframes

exports_2004_df = pd.read_excel("../row_data/prox reg_pot 04-19.xlsx", sheet_name='base 2004').set_index('Row Labels').fillna(0)

exports_2009_df = pd.read_excel("../row_data/prox reg_pot 04-19.xlsx", sheet_name='base 2009').set_index('Row Labels').fillna(0)

exports_2014_df = pd.read_excel("../row_data/prox reg_pot 04-19.xlsx", sheet_name='base 2014').set_index('Row Labels').fillna(0)

exports_2019_df = pd.read_excel("../row_data/prox reg_pot 04-19.xlsx", sheet_name='base 2019').set_index('Row Labels').fillna(0)

In [70]:
Products_2004 = set(exports_2004_df.columns)
Products_2009 = set(exports_2009_df.columns)
Products_2014 = set(exports_2014_df.columns)
Products_2019 = set(exports_2019_df.columns)

common_products_04_09 = Products_2004 & Products_2009

common_products_04_09 = sorted([x for x in common_products_04_09 if isinstance(x, int)])

common_products_09_14 = Products_2009 & Products_2014

common_products_09_14 = sorted([x for x in common_products_09_14 if isinstance(x, int)])

common_products_14_19 = Products_2014 &  Products_2019

common_products_14_19 = sorted([x for x in common_products_14_19 if isinstance(x, int)])

common_products_04_19 = Products_2004 & Products_2019

common_products_04_19 = sorted([x for x in common_products_04_19 if isinstance(x, int)])

In [71]:
locations=list(exports_2004_df.index)[:-1]
locations

['Centro', 'Centro-Norte', 'Norte', 'Sur']

In [72]:
years=[2004,2009,2014,2019]

year_loc_prod=[]
for year in years:
    if year==2004:
        common_products=Products_2004
        common_products=sorted([x for x in common_products if isinstance(x, int)])
        exports_df=exports_2004_df
    if year==2009:
        common_products=Products_2009
        common_products=sorted([x for x in common_products if isinstance(x, int)])
        exports_df=exports_2009_df
    if year==2014:
        common_products=Products_2014
        common_products=sorted([x for x in common_products if isinstance(x, int)])
        exports_df=exports_2014_df
    if year==2019:
        common_products=Products_2019
        common_products=sorted([x for x in common_products if isinstance(x, int)])
        exports_df=exports_2019_df
        
    for loc in locations:
        
        for prod in common_products:
            
            export=exports_df.loc[loc][prod]
            
            year_loc_prod.append([year,loc,prod,export])
            
data_mex_per_year=pd.DataFrame(year_loc_prod,columns=['year','location_code','hs_product_code','export_value'])

data_mex_per_year

       year location_code  hs_product_code  export_value
0      2004        Centro           112511           0.0
1      2004        Centro           112512        2670.0
2      2004        Centro           114111           0.0
3      2004        Centro           114112           0.0
4      2004        Centro           114113           0.0
...     ...           ...              ...           ...
13151  2019           Sur           813110       11082.0
13152  2019           Sur           813120       16199.0
13153  2019           Sur           813130         625.0
13154  2019           Sur           813140          24.0
13155  2019           Sur           813230       25998.0

[13156 rows x 4 columns]

In [73]:
data_mex_per_year.to_csv('../output_data/exports_per_year.csv')

In [74]:
# Calculate complexity
trade_cols = {'time':'year', 'loc':'location_code', 'prod':'hs_product_code', 'val':'export_value'}
cdata_mex_per_year = ecomplexity(data_mex_per_year, trade_cols)
cdata_mex_per_year

2004
2009
2014
2019

,location_code,hs_product_code,export_value,year,diversity,ubiquity,mcp,eci,pci,density,coi,cog,rca
0,Centro,112511,0.0,2004,448,2,0,1.692180,-1.254422,0.340609,-1.711165,-1.233299,0.000000
1,Centro,112512,2670.0,2004,448,2,1,1.692180,1.079600,0.735993,-1.711165,-0.000000,1.207767
2,Centro,114111,0.0,2004,448,2,0,1.692180,-0.902154,0.344501,-1.711165,-0.926822,0.000000
3,Centro,114112,0.0,2004,448,2,0,1.692180,-1.438400,0.306951,-1.711165,-1.216348,0.000000
4,Centro,114113,0.0,2004,448,1,0,1.692180,-1.790668,0.233459,-1.711165,-1.240911,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13151,Sur,813110,11082.0,2019,265,2,1,0.125232,-0.161223,0.610624,0.088677,-0.000000,1.860599
13152,Sur,813120,16199.0,2019,265,2,1,0.125232,-0.161223,0.610624,0.088677,-0.000000,2.215473
13153,Sur,813130,625.0,2019,265,1,0,0.125232,-0.471027,0.311148,0.088677,-0.227858,0.441845
13154,Sur,813140,24.0,2019,265,2,0,0.125232,1.043110,0.253515,0.088677,0.643114,0.124584
13155,Sur,813230,25998.0,2019,265,2,1,0.125232,-0.161223,0.610624,0.088677,-0.000000,1.654407

In [75]:
cdata_mex_per_year.to_csv('../output_data/complexity_data_mex_per_year.csv')

In [76]:
prox_df = proximity(data_mex_per_year, trade_cols)
prox_df

2004
2009
2014
2019

         year  hs_product_code_1  hs_product_code_2  proximity
1        2004             112511             112512        0.5
2        2004             112511             114111        0.5
3        2004             112511             114112        0.5
4        2004             112511             114113        0.5
5        2004             112511             114119        0.5
...       ...                ...                ...        ...
2706079  2019             813230             812990        0.5
2706080  2019             813230             813110        1.0
2706081  2019             813230             813120        1.0
2706082  2019             813230             813130        0.5
2706083  2019             813230             813140        0.5

[2702796 rows x 4 columns]

In [77]:
prox_df.to_csv('../output_data/proximity_per_year.csv')

In [121]:
years=['2004_2009','2009_2014','2014_2019','2004_2019']

year_loc_prod_char=[]
for year in years:
    year1=int(year[0:4])
    year2=int(year[5:])
    
    if year=='2004_2009':
        common_products = common_products_04_09
    if year=='2009_2014':
        common_products = common_products_09_14
    if year=='2014_2019':
        common_products = common_products_14_19
    if year=='2004_2019':
        common_products = common_products_04_19
   
        
    for loc in locations:
        
        for prod in common_products:
            
            eci = cdata_mex_per_year.loc[(cdata_mex_per_year['location_code']==loc)&
                                (cdata_mex_per_year['hs_product_code']==prod)&
                                (cdata_mex_per_year['year']==year1),'eci'].values[0]
            
            pci = cdata_mex_per_year.loc[(cdata_mex_per_year['location_code']==loc)&
                                (cdata_mex_per_year['hs_product_code']==prod)&
                                (cdata_mex_per_year['year']==year1),'pci'].values[0]
            
            density = cdata_mex_per_year.loc[(cdata_mex_per_year['location_code']==loc)&
                                (cdata_mex_per_year['hs_product_code']==prod)&
                                (cdata_mex_per_year['year']==year1),'density'].values[0]
            
            coi = cdata_mex_per_year.loc[(cdata_mex_per_year['location_code']==loc)&
                                (cdata_mex_per_year['hs_product_code']==prod)&
                                (cdata_mex_per_year['year']==year1),'coi'].values[0]
            
            cog = cdata_mex_per_year.loc[(cdata_mex_per_year['location_code']==loc)&
                                (cdata_mex_per_year['hs_product_code']==prod)&
                                (cdata_mex_per_year['year']==year1),'cog'].values[0]
            
            rca1 = cdata_mex_per_year.loc[(cdata_mex_per_year['location_code']==loc)&
                                (cdata_mex_per_year['hs_product_code']==prod)&
                                (cdata_mex_per_year['year']==year1),'rca'].values[0]
            
            rca2 = cdata_mex_per_year.loc[(cdata_mex_per_year['location_code']==loc)&
                                (cdata_mex_per_year['hs_product_code']==prod)&
                                (cdata_mex_per_year['year']==year2),'rca'].values[0]
            
            if rca1<0.5:
                
                if rca2>=1:
                    M='Transition'
                    M_num = 1
                else:
                    M='Underdeveloped'
                    M_num = 0
            else:
                M='NA'
                M_num = 2
                    
            
            year_loc_prod_char.append([year,loc,prod,export,eci,pci,density,coi,cog,rca1,rca2,M,M_num])
            
cdata_mex_pairs=pd.DataFrame(year_loc_prod_char,columns=['year_pair','location_code','Product','export','eci','pci','density','coi','cog','rca1','rca2','M','M_num'])

cdata_mex_pairs

,year_pair,location_code,Product,export,eci,pci,density,coi,cog,rca1,rca2,M,M_num
0,2004_2009,Centro,112511,25998.0,1.692180,-1.254422,0.340609,-1.711165,-1.233299,0.000000,0.002991,Underdeveloped,0
1,2004_2009,Centro,112512,25998.0,1.692180,1.079600,0.735993,-1.711165,-0.000000,1.207767,0.823025,NA,2
2,2004_2009,Centro,114111,25998.0,1.692180,-0.902154,0.344501,-1.711165,-0.926822,0.000000,0.001549,Underdeveloped,0
3,2004_2009,Centro,114112,25998.0,1.692180,-1.438400,0.306951,-1.711165,-1.216348,0.000000,0.000000,Underdeveloped,0
4,2004_2009,Centro,114113,25998.0,1.692180,-1.790668,0.233459,-1.711165,-1.240911,0.000000,0.000000,Underdeveloped,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,2004_2019,Sur,813110,25998.0,-0.501952,-0.902154,0.625158,0.353573,-0.000000,1.909849,1.860599,NA,2
12680,2004_2019,Sur,813120,25998.0,-0.501952,-0.902154,0.625158,0.353573,-0.000000,1.995431,2.215473,NA,2
12681,2004_2019,Sur,813130,25998.0,-0.501952,0.895622,0.435409,0.353573,0.000000,1.292048,0.441845,NA,2
12682,2004_2019,Sur,813140,25998.0,-0.501952,2.877376,0.104958,0.353573,1.810743,0.540507,0.124584,NA,2
12683,2004_2019,Sur,813230,25998.0,-0.501952,-0.902154,0.625158,0.353573,-0.000000,1.420385,1.654407,NA,2

In [122]:
cdata_mex_pairs.to_csv('../output_data/complexity_data_mex_pairs.csv')

In [123]:
import numpy as np
pob_gdp_region=pd.read_csv(('../../Socioeconomics/pob_gdp_region.csv'))
ied_edos=pd.read_csv(('../../Socioeconomics/ied_edos.csv'))

Region_Entidades_federativas={'Sur':['Campeche', 'Chiapas', 'Guerrero', 'Oaxaca', 'Quintana Roo', 'Tabasco', 'Veracruz', 'Yucatán'],
'Centro':['Ciudad de México', 'Estado de México', 'Guanajuato', 'Hidalgo', 'Morelos', 'Puebla', 'Querétaro', 'Tlaxcala'],
'Centro-Norte':['Aguascalientes', 'Baja California Sur', 'Colima', 'Durango', 'Jalisco', 'Michoacán', 'Nayarit', 'San Luis Potosí', 'Sinaloa'],
'Norte':['Baja California', 'Chihuahua', 'Coahuila', 'Nuevo León', 'Sonora', 'Tamaulipas', 'Zacatecas']}

reg_year=[]
for reg in list(Region_Entidades_federativas.keys()):
    for year in np.arange(2004,2020):
        reg_year.append([reg,year])
        
ied_region=pd.DataFrame(reg_year,columns=['Region','Year'])

for reg in list(Region_Entidades_federativas.keys()):
    for year in np.arange(2004,2021):
        
        ied=ied_edos.loc[(ied_edos['edo'].isin(Region_Entidades_federativas[reg]))&
                              (ied_edos['anio']==year),'ied'].values.sum()
        
        ied_region.loc[(ied_region['Region']==reg)&
                              (ied_region['Year']==year),'ied']=ied
ied_region

   Region  Year          ied
0     Sur  2004     0.000000
1     Sur  2005     0.000000
2     Sur  2006   752.709416
3     Sur  2007  3407.870913
4     Sur  2008  1448.262312
..    ...   ...          ...
59  Norte  2015  1685.428625
60  Norte  2016  1326.193982
61  Norte  2017  9778.530960
62  Norte  2018  4926.980699
63  Norte  2019  1256.283055

[64 rows x 3 columns]

In [124]:
cdata_mex_pairs_sc = cdata_mex_pairs.copy()

for year in years:
    for Estado in locations:
        gdp_percap=pob_gdp_region.loc[(pob_gdp_region['Year']==int(year[0:4]))&
                                     (pob_gdp_region['Region']==Estado),'GDPperCAP'].values[0]
        
        ied=ied_region.loc[(ied_region['Year']==int(year[0:4]))&
                            (ied_region['Region']==Estado),'ied'].values[0]
        
        cdata_mex_pairs_sc.loc[(cdata_mex_pairs_sc['location_code']==Estado)&
                                       (cdata_mex_pairs_sc['year_pair']==year),'GPDperCAP']=gdp_percap
        
        cdata_mex_pairs_sc.loc[(cdata_mex_pairs_sc['location_code']==Estado)&
                                       (cdata_mex_pairs_sc['year_pair']==year),'ied']=ied
        
cdata_mex_pairs_sc

,year_pair,location_code,Product,export,eci,pci,density,coi,cog,rca1,rca2,M,M_num,GPDperCAP,ied
0,2004_2009,Centro,112511,25998.0,1.692180,-1.254422,0.340609,-1.711165,-1.233299,0.000000,0.002991,Underdeveloped,0,0.146464,0.0
1,2004_2009,Centro,112512,25998.0,1.692180,1.079600,0.735993,-1.711165,-0.000000,1.207767,0.823025,NA,2,0.146464,0.0
2,2004_2009,Centro,114111,25998.0,1.692180,-0.902154,0.344501,-1.711165,-0.926822,0.000000,0.001549,Underdeveloped,0,0.146464,0.0
3,2004_2009,Centro,114112,25998.0,1.692180,-1.438400,0.306951,-1.711165,-1.216348,0.000000,0.000000,Underdeveloped,0,0.146464,0.0
4,2004_2009,Centro,114113,25998.0,1.692180,-1.790668,0.233459,-1.711165,-1.240911,0.000000,0.000000,Underdeveloped,0,0.146464,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,2004_2019,Sur,813110,25998.0,-0.501952,-0.902154,0.625158,0.353573,-0.000000,1.909849,1.860599,NA,2,0.129077,0.0
12680,2004_2019,Sur,813120,25998.0,-0.501952,-0.902154,0.625158,0.353573,-0.000000,1.995431,2.215473,NA,2,0.129077,0.0
12681,2004_2019,Sur,813130,25998.0,-0.501952,0.895622,0.435409,0.353573,0.000000,1.292048,0.441845,NA,2,0.129077,0.0
12682,2004_2019,Sur,813140,25998.0,-0.501952,2.877376,0.104958,0.353573,1.810743,0.540507,0.124584,NA,2,0.129077,0.0
12683,2004_2019,Sur,813230,25998.0,-0.501952,-0.902154,0.625158,0.353573,-0.000000,1.420385,1.654407,NA,2,0.129077,0.0

In [125]:
import math
import pdb

def check_and_debug(number):
    if math.isnan(number):
        pdb.set_trace()

In [142]:
N=len(locations)
years_pairs=['2004_2009','2009_2014','2014_2019','2004_2019']

for year_pair in years:
    
    if year_pair=='2004_2009':
        common_products = common_products_04_09
    if year_pair=='2009_2014':
        common_products = common_products_09_14
    if year_pair=='2014_2019':
        common_products = common_products_14_19
    if year_pair=='2004_2019':
        common_products = common_products_04_19
        
    for prod in common_products:
        T=len(cdata_mex_pairs_sc.loc[(cdata_mex_pairs_sc['year_pair']==year_pair)&
                          (cdata_mex_pairs_sc['M']=='Transition')&
                          (cdata_mex_pairs_sc['Product']==prod)].values)
        
        M_values=cdata_mex_pairs_sc.loc[(cdata_mex_pairs_sc['year_pair']==year_pair)&
                          (cdata_mex_pairs_sc['Product']==prod),'M'].values
        
        no_trans=[1 if M_val == 'Underdeveloped' else 0 for M_val in M_values]
        
        trans=[1 if M_val == 'Transition' else 0 for M_val in M_values]
        
        dens=cdata_mex_pairs_sc.loc[(cdata_mex_pairs_sc['year_pair']==year_pair)&
                          
                          (cdata_mex_pairs_sc['Product']==prod),'density'].values
        
        H_j=0
        
        if np.dot(dens,no_trans)!=0 and T!=0:
            H_j = (N-T)/T * np.dot(dens,trans)/ np.dot(dens,no_trans)
        else:
            H_j = 0
                
                
        cdata_mex_pairs_sc.loc[(cdata_mex_pairs_sc['year_pair']==year_pair)&
                          (cdata_mex_pairs_sc['Product']==prod),'discovery_factor']=H_j
    
    
cdata_mex_pairs_sc

,year_pair,location_code,Product,export,eci,pci,density,coi,cog,rca1,rca2,M,M_num,GPDperCAP,ied,discovery_factor
0,2004_2009,Centro,112511,25998.0,1.692180,-1.254422,0.340609,-1.711165,-1.233299,0.000000,0.002991,Underdeveloped,0,0.146464,0.0,0.0
1,2004_2009,Centro,112512,25998.0,1.692180,1.079600,0.735993,-1.711165,-0.000000,1.207767,0.823025,NA,2,0.146464,0.0,0.0
2,2004_2009,Centro,114111,25998.0,1.692180,-0.902154,0.344501,-1.711165,-0.926822,0.000000,0.001549,Underdeveloped,0,0.146464,0.0,0.0
3,2004_2009,Centro,114112,25998.0,1.692180,-1.438400,0.306951,-1.711165,-1.216348,0.000000,0.000000,Underdeveloped,0,0.146464,0.0,0.0
4,2004_2009,Centro,114113,25998.0,1.692180,-1.790668,0.233459,-1.711165,-1.240911,0.000000,0.000000,Underdeveloped,0,0.146464,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,2004_2019,Sur,813110,25998.0,-0.501952,-0.902154,0.625158,0.353573,-0.000000,1.909849,1.860599,NA,2,0.129077,0.0,0.0
12680,2004_2019,Sur,813120,25998.0,-0.501952,-0.902154,0.625158,0.353573,-0.000000,1.995431,2.215473,NA,2,0.129077,0.0,0.0
12681,2004_2019,Sur,813130,25998.0,-0.501952,0.895622,0.435409,0.353573,0.000000,1.292048,0.441845,NA,2,0.129077,0.0,0.0
12682,2004_2019,Sur,813140,25998.0,-0.501952,2.877376,0.104958,0.353573,1.810743,0.540507,0.124584,NA,2,0.129077,0.0,0.0
12683,2004_2019,Sur,813230,25998.0,-0.501952,-0.902154,0.625158,0.353573,-0.000000,1.420385,1.654407,NA,2,0.129077,0.0,0.0

In [143]:
cdata_mex_pairs_sc.to_csv('../output_data/complexity_data_mex_pairs_socioecon.csv')

In [144]:
cdata_mex_pairs_sc['discovery_factor'].unique()

array([ 0.        ,  2.05851064,  5.74418605,  1.91472868,  7.95348837,
        3.12804878,  2.23      ,  5.52439024,  1.125     ,  6.        ,
        3.72361809,  2.32735426,  4.2248062 ,  2.26315789,  2.41700405,
        0.71534196,  1.73      ,  4.62790698,  3.21386139,  1.35963303,
        2.80036969,  1.00674536,  1.56680162,  5.2160804 ,  3.77707006,
        2.1416185 ,  1.73410405,  4.20242915,  1.62913907,  4.79439252,
        1.3625498 ,  1.93565684,  6.76656151,  2.73364486,  5.22897196,
        5.84615385,  2.90086957,  2.65420561,  2.20175439,  1.13028169,
        1.56836461,  3.10251799,  1.33006993,  1.33864542,  1.59440559,
        3.05357143,  2.56558773,  1.38362069,  2.73594132,  4.55737705,
        1.5498615 ,  6.72321429,  5.26229508,  0.99659284,  3.50796813,
        3.67241379,  5.73846154,  1.72117962,  3.29230769,  2.45070423,
        1.97112861,  5.4684466 ,  3.5942492 ,  1.29713115,  1.08762887,
        1.52197071,  2.95275591,  1.608     ,  3.57786885,  2.77427184,
        7.02167183,  1.23819302, 10.04464286,  1.01858108,  2.85781991,
        2.94378194,  2.31279621,  2.94527363,  1.48612946,  2.75829384,
        0.57240204,  2.99202128,  2.51546392,  1.66141732,  5.24107143,
        3.05729167,  1.26751592,  3.03508772,  2.13027523,  5.4893617 ,
        1.6986755 ,  1.72543353,  2.9798995 ,  1.13157895,  1.28901734,
        2.38279933,  4.03587444])

In [139]:
print(cdata_mex_pairs_sc.loc[cdata_mex_pairs_sc.isna().any(axis=1),'year_pair'].unique())
cdata_mex_pairs_sc.loc[cdata_mex_pairs_sc.isna().any(axis=1)]

['2004_2009' '2009_2014' '2014_2019']

,year_pair,location_code,Product,export,eci,pci,density,coi,cog,rca1,rca2,M,M_num,GPDperCAP,ied,discovery_factor
20,2004_2009,Centro,212392,25998.0,1.692180,1.079600,0.735993,-1.711165,-0.000000,1.455530,1.293871,NA,2,0.146464,0.000000,NaN
40,2004_2009,Centro,237211,25998.0,1.692180,-0.718175,0.327032,-1.711165,-0.581243,0.000000,0.000000,Underdeveloped,0,0.146464,0.000000,NaN
65,2004_2009,Centro,311211,25998.0,1.692180,-1.086133,0.268919,-1.711165,-0.619395,0.528201,0.000000,NA,2,0.146464,0.000000,NaN
111,2004_2009,Centro,312221,25998.0,1.692180,-1.790668,0.233459,-1.711165,-1.240911,0.000000,1.249496,Transition,1,0.146464,0.000000,NaN
177,2004_2009,Centro,325212,25998.0,1.692180,2.877376,1.000000,-1.711165,0.000000,2.424128,2.418784,NA,2,0.146464,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9531,2014_2019,Sur,722515,25998.0,-0.004743,0.655643,0.455382,0.177870,0.000000,1.020191,1.145849,NA,2,0.120321,656.604683,NaN
9532,2014_2019,Sur,722516,25998.0,-0.004743,-1.226761,0.535804,0.177870,-0.000000,1.000523,0.942603,NA,2,0.120321,656.604683,NaN
9533,2014_2019,Sur,722517,25998.0,-0.004743,-0.993378,0.481752,0.177870,-0.000000,1.310985,1.425016,NA,2,0.120321,656.604683,NaN
9534,2014_2019,Sur,722518,25998.0,-0.004743,1.246770,0.481781,0.177870,0.000000,1.360869,1.741125,NA,2,0.120321,656.604683,NaN
9535,2014_2019,Sur,722519,25998.0,-0.004743,-0.315322,0.606735,0.177870,-0.000000,1.544655,1.908141,NA,2,0.120321,656.604683,NaN

In [140]:
cdata_mex_pairs_sc.loc[cdata_mex_pairs_sc['Product']==212392]

,year_pair,location_code,Product,export,eci,pci,density,coi,cog,rca1,rca2,M,M_num,GPDperCAP,ied,discovery_factor
20,2004_2009,Centro,212392,25998.0,1.692180,1.079600,0.735993,-1.711165,-0.000000,1.455530,1.293871,NA,2,0.146464,0.000000,NaN
796,2004_2009,Centro-Norte,212392,25998.0,-0.298257,1.079600,0.574182,0.566168,0.000000,1.369281,2.464729,NA,2,0.106326,0.000000,NaN
1572,2004_2009,Norte,212392,25998.0,-0.891971,1.079600,0.226356,0.791424,0.815637,0.509170,0.000000,NA,2,0.153262,0.000000,NaN
2348,2004_2009,Sur,212392,25998.0,-0.501952,1.079600,0.242492,0.353573,0.801346,0.107017,0.000000,Underdeveloped,0,0.129077,0.000000,NaN
3128,2009_2014,Centro,212392,25998.0,1.545101,1.102391,0.687581,-1.645520,-0.000000,1.293871,0.000000,NA,2,0.146952,610.924498,NaN
3927,2009_2014,Centro-Norte,212392,25998.0,-0.194902,1.102391,0.635223,0.435419,0.000000,2.464729,3.043557,NA,2,0.106583,588.222141,NaN
4726,2009_2014,Norte,212392,25998.0,-1.250928,1.102391,0.240588,1.035458,0.970846,0.000000,1.800998,Transition,1,0.150489,176.816408,NaN
5525,2009_2014,Sur,212392,25998.0,-0.099272,1.102391,0.248810,0.174643,0.737122,0.000000,0.000000,Underdeveloped,0,0.118448,174.697724,NaN

In [131]:
212392 in common_products_04_09,212392 in common_products_09_14

(True, True)

In [141]:
cdata_mex_pairs_sc_copy=cdata_mex_pairs_sc.copy()

year_pair='2004_2009'

year_pair='2009_2014'


prod=212392
T=len(cdata_mex_pairs_sc.loc[(cdata_mex_pairs_sc['year_pair']==year_pair)&
                          (cdata_mex_pairs_sc['M']=='Transition')&
                          (cdata_mex_pairs_sc['Product']==prod)].values)
        
M_values=cdata_mex_pairs_sc.loc[(cdata_mex_pairs_sc['year_pair']==year_pair)&
                  (cdata_mex_pairs_sc['Product']==prod),'M'].values

no_trans=[1 if M_val == 'Underdeveloped' else 0 for M_val in M_values]

trans=[1 if M_val == 'Transition' else 0 for M_val in M_values]

dens=cdata_mex_pairs_sc.loc[(cdata_mex_pairs_sc['year_pair']==year_pair)&

                  (cdata_mex_pairs_sc['Product']==prod),'density'].values

H_j=0

if np.dot(dens,no_trans)!=0 and T!=0:
    H_j = (N-T)/T * np.dot(dens,trans)/ np.dot(dens,no_trans)
else:
    H_j = 0

print(T,no_trans,trans,H_j)

#cdata_mex_pairs_sc_copy.loc[(cdata_mex_pairs_sc_copy['year_pair']==year_pair)&
#                          (cdata_mex_pairs_sc_copy['Product']==prod),'discovery_factor']=H_j

cdata_mex_pairs_sc_copy.loc[(cdata_mex_pairs_sc_copy['year_pair']==year_pair)&
                          (cdata_mex_pairs_sc_copy['Product']==prod)]

1 [0, 0, 0, 1] [0, 0, 1, 0] 2.90086956521739

,year_pair,location_code,Product,export,eci,pci,density,coi,cog,rca1,rca2,M,M_num,GPDperCAP,ied,discovery_factor
3128,2009_2014,Centro,212392,25998.0,1.545101,1.102391,0.687581,-1.645520,-0.000000,1.293871,0.000000,NA,2,0.146952,610.924498,NaN
3927,2009_2014,Centro-Norte,212392,25998.0,-0.194902,1.102391,0.635223,0.435419,0.000000,2.464729,3.043557,NA,2,0.106583,588.222141,NaN
4726,2009_2014,Norte,212392,25998.0,-1.250928,1.102391,0.240588,1.035458,0.970846,0.000000,1.800998,Transition,1,0.150489,176.816408,NaN
5525,2009_2014,Sur,212392,25998.0,-0.099272,1.102391,0.248810,0.174643,0.737122,0.000000,0.000000,Underdeveloped,0,0.118448,174.697724,NaN

In [113]:
cdata_mex_pairs_sc.loc[(cdata_mex_pairs_sc['year_pair']==year_pair)&
                          (cdata_mex_pairs_sc['Product']==prod)]

Empty DataFrame
Columns: [year_pair, location_code, Product, export, eci, pci, density, coi, cog, rca1, rca2, M, M_num, GPDperCAP, ied, discovery_factor]
Index: []

In [93]:
np.dot(dens,no_trans)

0.24249215598386387

In [96]:
T=len(cdata_mex_pairs_sc.loc[(cdata_mex_pairs_sc['year_pair']==year_pair)&
                          (cdata_mex_pairs_sc['M']=='Transition')&
                          (cdata_mex_pairs_sc['Product']==prod)].values)
T!=0

False

In [97]:
np.dot(dens,no_trans)!=0 and T!=0

False

In [98]:
if np.dot(dens,no_trans)!=0 and T!=0:
    H_j = (N-T)/T * np.dot(dens,trans)/ np.dot(dens,no_trans)
else:
    H_j = 0
H_j

0

In [45]:
cdata_mex_pairs_sc.loc[(cdata_mex_pairs_sc['year_pair']==year_pair)&
                          (cdata_mex_pairs_sc['Product']==212392),'discovery_factor']=H_j

In [47]:
cdata_mex_pairs_sc.loc[cdata_mex_pairs_sc['Product']==212392]

,year_pair,location_code,Product,export,eci,pci,density,coi,cog,rca1,rca2,M,M_num,GPDperCAP,ied,discovery_factor
20,2004_2009,Centro,212392,25998.0,1.692180,1.079600,0.735993,-1.711165,-0.000000,1.455530,1.293871,NA,2,0.146464,0.000000,0.0
796,2004_2009,Centro-Norte,212392,25998.0,-0.298257,1.079600,0.574182,0.566168,0.000000,1.369281,2.464729,NA,2,0.106326,0.000000,0.0
1572,2004_2009,Norte,212392,25998.0,-0.891971,1.079600,0.226356,0.791424,0.815637,0.509170,0.000000,NA,2,0.153262,0.000000,0.0
2348,2004_2009,Sur,212392,25998.0,-0.501952,1.079600,0.242492,0.353573,0.801346,0.107017,0.000000,Underdeveloped,0,0.129077,0.000000,0.0
3128,2009_2014,Centro,212392,25998.0,1.545101,1.102391,0.687581,-1.645520,-0.000000,1.293871,0.000000,NA,2,0.146952,610.924498,NaN
3927,2009_2014,Centro-Norte,212392,25998.0,-0.194902,1.102391,0.635223,0.435419,0.000000,2.464729,3.043557,NA,2,0.106583,588.222141,NaN
4726,2009_2014,Norte,212392,25998.0,-1.250928,1.102391,0.240588,1.035458,0.970846,0.000000,1.800998,Transition,1,0.150489,176.816408,NaN
5525,2009_2014,Sur,212392,25998.0,-0.099272,1.102391,0.248810,0.174643,0.737122,0.000000,0.000000,Underdeveloped,0,0.118448,174.697724,NaN